{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <h2>Список учеников</h2>
  <ul class="student-list">
  {% for student in object_list %}
    <li class="student-item">
      <strong>{{ student.name }}</strong> (Группа: {{ student.group }})
      {% if student.teachers.all %}
        <div class="teachers">
          <p>Преподаватели:</p>
          <ul>
          {% for teacher in student.teachers.all %}
            <li>{{ teacher.name }} - {{ teacher.subject }}</li>
          {% endfor %}
          </ul>
        </div>
      {% else %}
        <p>Нет назначенных преподавателей</p>
      {% endif %}
    </li>
  {% empty %}
    <li>Нет учеников в списке</li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
